<html>
<head>
<meta charset="utf-8">
<title>batman tutorial point login</title>
<link rel="stylesheet" href="../css/login.css">
<link rel="icon" href="avatar.png">
</head>
<body>
<a href src="login.js"></a>

<div class="box">
    <img src="../icon/avatar.png" class="avatar">
<h2>Login</h2>
<form>
<div class="inputbox">
<input type="text" name="Username"required"">
<label>Username</label>
</div>
<div class="inputbox">
<input type="password" name="password"required"">
<label>password</label>
</div>
<a href="home.html"><input type="button" value="Submit" /></a>
<br><br>
<div id="container">
<center>
<a href="forgot password"  font-size:15px; 
font-family:tahoma, geneva, sana-serif;">Forgot password</a></center>
</div>
<br><br><br>
<center><h3>Don't have account?<a href="Signup.html">&nbsp;Sign up</h3></a></center>
</form>
</div>
</body>
</html>
