<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batman Tutorial Point Login</title>
    <link rel="stylesheet" href="./src/css/login.css">
    <link rel="icon" href="./src/icon/avatar.png">
    
</head>
<body>

    <div class="box">
    <img src="/icon/avatar.png" class="avatar" alt="Avatar">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <!-- Username Input -->
        <div class="inputbox">
            <input type="text" name="username" placeholder="" required>
            <label>Username</label>
        </div>

        <!-- Password Input -->
        <div class="inputbox">
            <input type="password" name="password" placeholder="" required>
            <label>Password</label>
        </div>

        <!-- Submit Button -->
        <input type="submit" value="Log in">
        
        <!-- Forgot Password Link -->
        <div id="container">
            <center>
                <a href="/forgot-password" class="forgot-link">Forgot password?</a>
            </center>
        </div>

        <!-- Signup Link -->
        <center>
            <h3>Don't have an account? 
                <a href="/signup" class="signup-link">Sign in</a>
            </h3>
        </center>
        
        <h4 style="color: #777;">or</h4>
        
        <center>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <a class="btn btn-block" href="/auth/google" role="button">
                      <i class="fab fa-google"></i>
                      Sign In with Google
                    </a>
                  </div>
                </div>
              </div>
            </center>
    </form>
</div>

</body>
</html>



